<div class="content" >
    <div class="row">
<div class="image-container">
    <img src="../assets/1.jpg" alt="section-image">
</div>
    <div class="temperature">
    29 C
</div>

</div>

<div class="row">
    <div class="section-2">
        <div class="top-info">
            Expected Temperature: Day 32 C & Night 20 C
        </div>
        <div class="bottom-info">
            <p>Humidity:30 % </p>
        </div>
        <div class="info-box">
            <p>Wind Speed: 3 KM/H</p>
        </div>
    </div>
</div>










    </div>

