<div class="search-container" [formGroup]="searchForm">
    <input type="text" class="search-input" placeholder="search City" formControlName="city" required minlength="3">
    <button class="search-button" (click)="searchWeather()">Search</button>
</div>

<div class="content" *ngIf="weather">
    <div class="row">
        <div class="image-container">
            <img [src]="imagePath" alt="section" style="height: 500px;">
        </div>
        <div class="temperature">
            {{ weather.temp }}
        </div>
    </div>

    <div class="row">
        <div class="section-2">
            <div class="top-info">
                Expected Temperature: {{ weather.expected_temp }}
            </div>
            <div class="bottom-info">
                <p>Humidity: {{ weather.humidity }}</p>
            </div>
            <div class="info-box">
                <p>Wind Speed: {{ weather.wind }}</p>
            </div>
        </div>
    </div>
</div>
